@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@heroicons/react/solid.css";
@import "@heroicons/react/outline.css";

@font-face {
  font-family: "Gilroy";
  src: url("../../gilroy//Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../gilroy/gilroy-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.wrapper {
  padding: 0% 15%;
}

.muted {
  opacity: 0.8;
}

body {
  color: #0d0d25;
  background-color: #f7f7f7;
}

.banner {
  background: linear-gradient(180deg, #dfbaa1 0%, #909fb5 100%);
  height: 25rem;
}

.banner img {
  height: 400px;
  width: 400px;
}

.post-wrapper {
  padding: 0% 29%;
}

.home {
  color: #c7fcff;
}

.groups {
  color: #ffe1a9;
}

.profile {
  color: #d3ffe8;
}

.settings {
  color: #ffb05b;
}

.inbox {
  color: #ff8411;
}

