@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url("../../gilroy//Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../gilroy/gilroy-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: 400;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.muted {
  opacity: 0.8;
}

body {
  color: #0d0d25;
  background-color: #f7f7f7;
}

#banner img {
  height: 400px;
  width: 400px;
}

@media screen and (max-width: 1440px) {
  #banner img {
    height: 350px;
    width: 350px;
  }
}

.home {
  color: #c7fcff;
}

.groups {
  color: #ffe1a9;
}

.profile {
  color: #d3ffe8;
}

.settings {
  color: #ffb05b;
}

.inbox {
  color: #ff8411;
}

.customBorder {
  border-radius: 12px 0px 0px 12px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
}

.wrapper {
  max-width: 1920px;
}

.text-10xl {
  font-size: 10rem;
}

p, span {
  font-weight: 300;
}

p, a, span, #text {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, button, strong {
  font-family: 'Montserrat', sans-serif;
}
